<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/prog1_week4a_phone_laptop_teacher/src/phone_laptop_teacher/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="phone_laptop_teacher.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="prog1_week4a_phone_laptop_teacher"/>
</launchConfiguration>
